<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spot Memory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Spot Memory</h1>
    <div class="topbar">
        <span> Hi {{ session ['username']}}</span>
        <a href="{{url_for('logout')}}"> logout </a>
    </div>
    <div class="memory-list">
{% for m in memories %}
    <div class="memory-card">
        {% if m["photo_path"] %}
            <img src="{{ url_for('static', filename='uploads/' + m['photo_path']) }}">
        {% endif %}
        <div class="content">
            <div class="caption">{{ m["caption"] }}</div>
            <div>({{ m["lat"] }}, {{ m["lng"] }})</div>
            <a class="navigate-btn" href="https://www.google.com/maps/dir/?api=1&destination={{ m['lat'] }},{{ m['lng'] }}" target="_blank">🧭 Navigate</a>
        </div>
    </div>
    <div class="content">
        <div class="caption">{{ m["caption"] }}</div>
        <div>({{ m["lat"] }}, {{ m["lng"] }})</div>
        <a class="navigate-btn" href="https://www.google.com/maps/dir/?api=1&destination={{ m['lat'] }},{{ m['lng'] }}" target="_blank">🧭 Navigate</a>
        <form action="{{ url_for('delete', memory_id=m['id']) }}" method="POST" onsubmit="return confirm('Delete this memory? This cannot be undone.');">
            <button type="submit" class="delete-btn">🗑 Delete</button>
        </form>
</div>
{% endfor %}
</div>

    <h2>Thankyou for using the platform
    </h2>

    <a href="{{ url_for('add') }}" class="fab">+</a>

</body>
</html>