<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Spot Memory - Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% if error %}
<p style="color: #ff6b6b;">{{ error }}</p>
{% endif %}

<h1>Log In</h1>
<form method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Log In</button>
</form>
<p>Don't have an account? <a href="{{ url_for('signup') }}" style="color:#ff6b6b;">Sign up</a></p>

</body>
</html>